<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% include "header.html" %}
<div class="container">
    <h2>My Bookings</h2>
    <table class="table">
        <thead>
        <tr>
            <th>SAC Room</th>
            <th>Booked by</th>
            <th>Booked On</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.sac_room.name }}</td>
                <td>{{ booking.booked_by.roll_number }}</td>
                <td>{{ booking.created_at }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.start_date }}</td>
                <td>{{ booking.end_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
